body {
    background-color: #f8f8f8;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

input,
textarea {
    height: 25px;
    width: 300px;
    color: #484343;
    font-size: 16px;
    margin: 5px;
    text-transform: capitalize;
}

.email:hover {
    color: #101010;
    background-color: #f0f0f0;
}


/* menu */

.header img {
    width: 3%;
}

.menu li {
    font-style: italic;
    font-size: 20px;
    list-style-type: none;
}

.menu li a {
    color: dodgerblue;
}

.menu li a:hover {
    color: skyblue;
}


/* pages */

.short_description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.detail_description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.characteristics li {
    font-style: oblique;
    font-size: 15px;
    list-style-image: url(../img/middle.png)
}

.characteristics li a {
    color: cadetblue;
}

.first_letter::first-letter {
    font-size: 150%;
    color: #707070;
}

.product_image {
    border: 1px solid;
    border-color: #707070;
}

.product_image:hover {
    border: 1px solid;
    border-color: #f8f8f8;
}

.some_table {
    border-style: solid;
    border-color: #707070;
    border-width: thin;
    text-align: center;
}

.some_table tr:nth-child(1) td {
    background-color: #909090;
    height: 2.5em;
}